[Desktop Entry]
Name=Leistungs-Umrechner
Comment=Ein einfacher Umrechner für kW und PS in Tkinter
Exec=/opt/Umrechner/power.pyw
Icon=/opt/Umrechner/power.png
Type=Application
Terminal=false
Categories=Utility;Calculator;
